<section id="services">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <h2 class="section-heading">Our Primary Services</h2>
                <hr class="primary">
            </div>
        </div>
    </div>
    <div class="container">
        <div class="row">
            <div class="col-lg-3 col-md-6 text-center">
                <div class="service-box">
                    <i class="fa fa-4x fa-diamond wow bounceIn text-primary"></i>
                    <h3>Anodizing</h3>
                    <p class="text-muted">Anodization is a great finish for Aluminum</p>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 text-center">
                <div class="service-box">
                    <i class="fa fa-4x fa-shield wow bounceIn text-primary" data-wow-delay=".1s"></i>
                    <h3>Powder Coating</h3>
                    <p class="text-muted">A Protective and Decorative Finish.</p>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 text-center">
                <div class="service-box">
                    <i class="fa fa-4x fa-arrow-right wow bounceIn text-primary" data-wow-delay=".2s"></i>
                    <h3>Chromate Conversion</h3>
                    <p class="text-muted">We converte that Chromate so hard. </p>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 text-center">
                <div class="service-box">
                    <i class="fa fa-4x fa-adjust wow bounceIn text-primary" data-wow-delay=".3s"></i>
                    <h3>Passivation</h3>
                    <p class="text-muted">Our Passivation methods are non active. </p>
                </div>
            </div>
        </div>
    </div>
</section>
